
.idea/dictionaries
.idea/dictionaries/saeedsattarbeglou.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/ssbhesabfa.iml
.idea/vcs.xml
.idea/workspace.xml
.DS_Store
.user.ini
.idea/php.xml
prestashop_module_info.json
test.zip
prestashop_module_info.json
config_fa.xml
ssbhesabfa.log
ssbhesabfa.php___jb_old___
.idea/ps-ssbhesabfa.iml
.idea/.name
